html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 auto; /* Header cố định */
}

.body {
  flex: 1; /* Body chiếm toàn bộ khoảng trống */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  flex: 0 0 auto; /* Footer cố định */
}
