.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Đảm bảo nằm trên các phần khác */
    background-color: #abe0ef;
}

.header .button {
    background-color: #ffcc98;
    color: #4070a4;
    border-radius: 10px;
    font-weight: 500;
    transition: transform 0.2s ease-in-out;
}

.header .button:hover {
    background-color: #1974d3;
    color: white;
    transform: scale(1.1);
}

.header .link {
    font-weight: 500;
    transition: transform 0.2s ease-in-out;
}

.header .link:hover {
    color: #0c6bd1;
    transform: scale(1.1);
}

#home,
#about,
#contact,
#doctor {
    scroll-margin-top: 100px; /* Điều chỉnh theo chiều cao của header */
}
