.admin-doctor {
    font-size: 0.9rem;
}

.admin-doctor .record-items .btn-delete,
.admin-doctor .record-items .btn-update {
    transition: transform 0.2s ease-in-out;
}

.admin-doctor .record-items .btn-delete:hover {
    color: #f72c2c;
    transform: scale(1.3);
}

.admin-doctor .record-items .btn-update:hover {
    color: #1dbb11;
    transform: scale(1.3);
}

.admin-doctor .record-items input,
.admin-doctor .record-items select {
    margin: 10px 0;
}

.admin-doctor .record-items p {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

.admin-doctor {
    /* Modal overlay */
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Để tạo hiệu ứng màn đen */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    /* Modal content */
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        width: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    /* Close button inside the modal */
    .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

}